@font-face {
  font-family: "Century_Gothic.ttf";
  src: url("../font/Century_Gothic.ttf");
}
$color-base: #9409c7;
$color-sub: #999999;
$sp: "only screen and(max-width:480px)";
$headerLimit: "only screen and(max-width:840px)";

body {
  font-family: "Century_Gothic";
  @media #{$sp} {
    overflow: scroll;
  }
}

html {
  scroll-behavior: smooth;
  
}

img {
  max-width: 10%;
  height: auto;
}

.Global {
  height: 60px;
  background-color: $color-base;
  display: flex;
  align-items: center;
  @media #{$headerLimit} {
    height: 50px;
    width: 100%;
    position: fixed;
  }

  &__Header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    @media #{$headerLimit} {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10000;
    }
  }

  &__Logo {
    margin: auto 30px;
    &:hover {
      opacity: 0.2;
    }
    @media #{$headerLimit} {
      margin: auto;
      padding-left: 30px;
      position: fixed;
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  &__Navigation {
    height: 100%;
    display: flex;
    justify-content: center;
    @media #{$headerLimit} {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.85;
      transition: ease 0.5s;
      z-index: 9999;
      overflow: scroll;
      display: none;
    }

    &--Toggle {
      position: fixed;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      cursor: pointer;
      z-index: 10000;
      transition: all 0.3s ease-in-out;
      display: none;
      @media #{$headerLimit} {
        display: block;
      }
      span {
        display: block;
        position: absolute;
        width: 30px;
        height: 2px;
        right: 0;
        background-color: #fff;
        &:nth-of-type(1) {
          top: 15px;
          right: 10px;
        }

        &:nth-of-type(2) {
          top: 25px;
          right: 10px;
        }

        &:nth-of-type(3) {
          top: 35px;
          right: 10px;
        }
      }
    }
  }

  .active {
    animation: smallbig 0.6s forwards;
    span {
      &:nth-of-type(1) {
        top: 10px;
        right: 10px;
        transition-delay: 0.2s;
        transform: translateY(13px) rotate(45deg);
      }
      &:nth-of-type(2) {
        opacity: 0;
        transition-delay: 0.2s;
      }
      &:nth-of-type(3) {
        top: 35px;
        right: 10px;
        transition-delay: 0.2s;
        transform: translateY(-13px) rotate(-45deg);
      }
    }
  }

  @keyframes smallbig {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(0);
    }
  }

  &__NavigationItems {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 12px;
    @media #{$headerLimit} {
      width: 100%;
      flex-direction: column;
      font-size: 20px;
      align-items: flex-start;
      margin-top: 50px;
      color: #fff;
    }

    &--Menu {
      height: 100%;
      display: flex;
      align-items: center;
      white-space: pre;
      list-style: none;
      padding: 0 0 0 20px;
      @media #{$headerLimit} {
        height: 100%;
        width: 100%;
        padding: 40px 20px;
        display: block;
        border-bottom: 1px solid;
        letter-spacing: 4px;
      }
    }

    &--Link {
      color: #e8e8e8;
      text-decoration: none;
      &:hover {
        height: 100%;
        display: flex;
        align-items: center;
        color: #111;
        background: #fff;
      }
      @media #{$headerLimit} {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

.SnsIcon {
  color: #fff;
  margin-right: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media #{$headerLimit} {
    display: none;
  }

  .fa {
    padding: 0 30px;

    &:last-child {
      padding-right: 0;
    }
    &:hover {
      opacity: 0.3;
    }
  }

  a {
    color: #fff;
  }
}

.BreakingBad {
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/breaking-bad.jpg");
}

.Characters {
  a {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1.0s ease;
    transition: all 1.0s ease;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    

    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }
    &:hover .description{
      display: block;
    }
  }
  .description {
    display: none;
  }
  h2 {
    padding-left: 10vw;
    @media #{$sp} {
      font-size: 18px;
    }
  }

  p {
    padding-left: 10vw;
    @media #{$sp} {
      font-size: 14px;
    }
  }

  &__Walt {
    height: 50vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../img/walt.jpg");
    color: #fff;
  
  }
  
  &__Jesse {
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../img/jesse.jpg");
    color: #fff;
  }
  
  &__SaulMike {
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    @media #{$sp} {
      width: 100vw;
      flex-direction: column;
    }
  
    &__Saul {
      width: 50%;
      background-image: url("../img/saul.jpg");
      @media #{$sp} {
        width: 100%
      }
    }
  
    &__Mike {
      width: 50%;
      background-image: url("../img/mike.jpg");
      @media #{$sp} {
        width: 100%
      }
    }
  }
  
  &__BadGuy {
    height: 40vh;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__Krazy8 {
      width: calc(100% / 3);
      background-image: url("../img/krazy8.jpg");
    }
    &__Tuco {
      width: calc(100% / 3);
      background-image: url("../img/tuco.jpg");
    }
    &__Hector {
      width: calc(100% / 3);
      background-image: url("../img/hector.jpg");
    }
  }
  
  &__BerryBadGuy {
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
  
    &__Gus {
      width: 50%;
      background-image: url("../img/gus.jpg");
    }
  
    &__Don {
      width: 50%;
      background-image: url("../img/don.jpg");
    }
  }

}

.Footer {
  height: 45px;
  color: #fff;
  background: $color-base;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media #{$sp} {
    height: auto;
    flex-direction: column-reverse;
    padding: 20px;
  }

  &__Caution {
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 25px;
      height: 25px;
      padding-right: 10px;
    }

    p {
      font-size: 10px;
    }
  }

  &__Text {
    font-size: 10px;
    padding: 12px 0 0 10px;
  }

  nav {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__Navigation {
    height: 100%;
    @extend .Global__NavigationItems;
    @media #{$sp} {
      font-size: 12px;
      height: auto;
      align-items: center;
      margin: 0;
    }

    &--Menu {
      @extend .Global__NavigationItems--Menu;
      @media #{$sp} {
        border: 0;
        width: auto;
        text-align: center;
        padding: 0 0 10px 0;
        margin: 0;
      }
      &:last-child {
        padding-right: 20px;
        @media #{$sp} {
          padding-right: 0;
        }
      }
    }

    &--Link {
      @extend .Global__NavigationItems--Link;
    }
  }
}
